@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary-50: #fef2f2;
  --color-primary-100: #fee2e2;
  --color-primary-200: #fecaca;
  --color-primary-300: #fca5a5;
  --color-primary-400: #f87171;
  --color-primary-500: #ef4444;
  --color-primary-600: #dc2626;
  --color-primary-700: #b91c1c;
  /* Zomato core red is close to this */
  --color-primary-800: #991b1b;
  --color-primary-900: #7f1d1d;
  --color-primary: #e23744;
  /* Zomato exact */

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-border: var(--border);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #1c1c1c;

  --card: #ffffff;
  --card-foreground: #1c1c1c;

  --border: #e4e4e7;
  --radius: 0.75rem;
}

.dark {
  --background: #111111;
  --foreground: #f4f4f5;

  --card: #18181b;
  --card-foreground: #f4f4f5;

  --border: #27272a;
}

/* Base styles */
@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}